h1{
    font-size: 50px;
}
section{
    display: flex;
}
.pic-text{
    width: 80%;
    padding-left:5%;
    display: flex;
    border: blue left;
}
.pic-text img{
width: 100%;

}
.explore-button{
    text-decoration: none;
    background-color: rgb(245, 229, 6);
    padding: 5px 20px 10px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}
.Focused{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
    display: flex;
}
.Fucused img{
    width: 40px;
}

h3{
    color: silver;
}
#moddom{
    text-align: center;
}

.mission-vission img{
    width: 20%;
    display: flex;
    
    text-align: center;
}
.mission-vission{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}
.bcd{
    background-color: burlywood;
    border:gray solid;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 5%;
    box-shadow:grey 10px 10px 10px;
}
.dvd{
    background-color: lightblue;
    border: grey solid;
    border-radius: 10px;
    box-shadow:gray 10px 10px 10px;
    padding-left: 10%;
    padding-right: 5%;
}
.xyz{
    background-color: lightseagreen;
    border: gray solid;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: grey 10px 10px 10px;
}
#second-part{
    display: flex;
    padding-right: 10%;

    padding-left: 10px;


}
#second-part img{
    width: 40px;
    margin: 10px;
    padding: 5px;
}
#border{
    border-left: rgb(245, 51, 2) solid 5px;
    border-radius: 2px;
}
.mission-vission{
    padding-top: 10px;
    padding-bottom: 10%;


}
.dis-flex img{
    width: 80%;
    padding-left: 40%;


}
.dis-flex{
    display: flex;

}
.lorem{
    padding-right: 20px;
    padding-left: 10%;
    display: flex;
}

.develop{
    padding-bottom: 10%
      
}
.middle{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    
}
.global img{
    width: 80%;
}
.global{
    padding-top: 10%;

}
.know{
    padding-left: 10%;
}
.middle img{
    width: 50%;
}
.global{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;

    background-position: bottom;
    padding-bottom: 10%;
}
.global img{
    box-shadow: darkgray 10px 10px 10px 10px ;
}
.last-img img{
    width: 50%;
    padding-left: 0%;

    box-shadow: gray 10px 10px 10px 10px;



}
.web{
    padding-right: 25%;

}
.smart{
    background-image: url(images/shapes/shape-9.png);

    background-position: right;
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 5%;
}
.smart img{
    width: 60%;
}

.middle img{
    width: 30%;
}
.middle{
   
}